In [1]:
my_string ="hello world"
length = len(my_string)
print(length)

11

In [6]:
my_string = "hello"
first_char = my_string[2]
print(first_char)

l

In [7]:
my_string = "hello, world;"
sliced_string = my_string[7:13]
print(sliced_string)

world;

In [8]:
my_string = "hello, world"
last_char = my_string[-2]
second_last_char = my_string[-3]
print(last_char, second_last_char)

l r

In [15]:
my_string = "hello, world"
start_omitted = my_string[:5]
end_omitted = my_string[6:]
print(start_omitted, end_omitted)

hello  world

In [16]:
my_string = "hello, world"
every_second_char = my_string[0:5:2]
print(every_second_char)

hlo

In [19]:
my_string = "hello, world"
reversed_string = my_string[::-1]
print(reversed_string)
a = "hello, world"
print(a)

dlrow ,olleh
hello, world

In [18]:
a ="hello"
b ="people"
c =a+ " " +b+("!"*15)
print(c)

hello people!!!!!!!!!!!!!!!

In [20]:
s1 = 'jaseem'
print(s1.upper())

JASEEM

In [24]:
name = 'jaseem'
print(name.lower())
s2 ='hello, world'

jaseem

In [31]:
str1 = print("jaseem".isalpha())
str2 = print('123'.isnumeric())
str = print('jaseem123'.isalnum())

True
True
True

In [34]:
my_string = "volvo,bmw,toyota"
car = my_string.split(",")
print(car)
joined_string = "+".join(car)
print(joined_string)

['volvo', 'bmw', 'toyota']
volvo+bmw+toyota

In [35]:
my_string = 'hello, people'
new_string = my_string.replace("people","world")
print(new_string)

hello, world

In [4]:
name = "jaseem"
age = 22
formatted_string = "my name is %s and i am %d years old."%(name, age)
print(formatted_string)

my name is jaseem and i am 22 years old.

In [8]:
name ="alice" 
age = 25
formatted_string = f"my name is {name} and i am {age} years old"
print(formatted_string)

my name is alice and i am 25 years old

In [9]:
name = "rinshana"
age = 20
formatted_string = "my name is {} and Iam {} years old.".format(name,age)
print(formatted_string)

my name is rinshana and Iam 20 years old.

In [10]:
pi = 5.3555215
formatted_pi = "the value of pi is approximately;{:0.2f}".format(pi)
print(formatted_pi)

the value of pi is approximately;5.36

In [11]:
x = 9
y = 16
greater_than = x>y
equal_to = x==y
logical_and = (x<y) and (y>x)
print(greater_than)
print(equal_to)
print(logical_and)

False
False
True

In [13]:
x = 20
y = 11
addition = x+y
substraction = x-y
division = x/y
modulus = x%y
exponentiation = x**y
floor_division = x//y
print(addition)
print(substraction)
print(division)
print(modulus)
print(exponentiation)
print(floor_division)

31
9
1.8181818181818181
9
204800000000000
1

In [14]:
x = 9
print(x > 5 and x < 10)
print(x > 3 or x < 5)
print(not(x > 5 and x < 10))

True
True
False

In [15]:
x = 10
x +=5
print(x)

15

In [16]:
x = ["car","bike"]
y = ["car","bike"]
z = x
print(x is z)
print(y is y)
print(x == y)
print(x is not z)
print(x is not y)
print(x != y)

True
True
True
False
True
False

In [18]:
x = ["apple","banana"]
print("apple" in x)
print("orange" not in x)

True
True

In [4]:
cars =["bmw",'VOLVO']
cars.append ("benz")
cars.insert (1,"susuki")
print(cars)

['bmw', 'susuki', 'VOLVO', 'benz']

In [6]:
fruits = ["banana","apple",]
m_fruits = ["orange","melon"]
fruits.extend(m_fruits)
print(fruits)

['banana', 'apple', 'orange', 'melon']

In [ ]:
fruits = ["banana","apple",]
m_fruits = ["orange"]

In [19]:
fruits = ["banana","apple","orange"]
fruits.remove("banana")
fruit_remove = fruits.pop()
print(fruits)

['apple']

In [8]:
fruits = ["banana","apple","orange"]
del fruits[0]
print(fruits)

['apple', 'orange']

In [ ]:
fruits = ["banana","apple","orange"]
x = fruits.copy()
y = fruits[:]

In [11]:
x = [1,2,3,4,5,]
x.reverse()
print(x)

[5, 4, 3, 2, 1]

In [13]:
x = [5,1,2,3,4,]
x.sort()
print(x)

[1, 2, 3, 4, 5]

In [15]:
x = [5,1,2,3,4,]
x.sort(reverse = True)
print(x)

[5, 4, 3, 2, 1]

In [16]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
x = [1,2,3,4,5,6,2,2]
count = x.count(2)
print(count)
print(max(x))
print(min(x))
print(sum(x))

3
6
1
25

In [7]:
#write a program to swap first and last element in a list.
nubmers = [1,2,3,4,5]
numbers[0] = x
numbers[-1] = y

x = numbers[-1]
y = numbers[0]
print(numbers)

NameError: name 'numbers' is not defined

In [8]:
my_list = [5,9,3,1,7]
print(max(my_list))

9

In [26]:
my_list = [5,9,3,1,7]
my_list.sort()
print(my_list[2])

5

In [8]:
x = ('oranege','mango','apple','pinapple','banana',)
y = list(x)
y.append("kiwi")
x = tuple(y)
print(x)

('oranege', 'mango', 'apple', 'pinapple', 'banana', 'kiwi')

In [ ]:
x = ('oranege','mango','apple','pinapple','banana',)
y = ('kiwi','meion','stawberry')

In [1]:
fruits = ('oranege','mango','apple','pinapple','banana',)
x,*y,z = fruits
print(x)
print(y)
print(z)

oranege
['mango', 'apple', 'pinapple']
banana

In [3]:
set1 = {'oranege','mango','apple','pinapple','banana'}
set1.add("cherry")
print(set1)

{'pinapple', 'mango', 'cherry', 'banana', 'apple', 'oranege'}

In [5]:
set1 = {'oranege','mango','apple','pinapple','banana'}
set2 = {'cherry','melon'}
set1.update(set2)
print(set1)

{'pinapple', 'mango', 'cherry', 'banana', 'apple', 'oranege', 'melon'}

In [7]:
set1 = {'oranege','mango','apple','pinapple','banana'}
set1.discard('banana')
print(set1)

{'pinapple', 'mango', 'apple', 'oranege'}

In [9]:
set1 = {1,2,3,}
set2={2,5,3}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 5}

In [10]:
set1 = {1,2,3,}
set2={2,5,3}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [11]:
set1 = {1,2,3,}
set2={2,5,3}
difference_set = set1.difference(set2)
print(difference_set)

{1}

In [13]:
set1 = {1,2,3,}
set2={2,5,3}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 5}

In [15]:
# given two lists. find the elements that are present in both the lists.
A =[1,2,3,4,5,6,7]
B = [7,2,4,8,3,4,1,8,]
c = set(A)
d = set(B)
intersection_set = c.intersection(d)
print(list(intersection_set))

[1, 2, 3, 4, 7]

In [3]:
a = 208
b = 209
if (b>a):
    print("b is greater than a")
print("condition checked")

b is greater than a
condition checked

In [2]:
a = 208
b = 209
if (b>a or b==a):
    print("b is greater than a")
print("condition checked")

b is greater than a
condition checked

In [4]:
a = 208
b = 201
if (b>a):
    print("b is greater than a")
else :
    print("a is greater than b")

a is greater than b

In [5]:
x = 9
y = "hello"
typ = type(x)

if typ==int:
    print("number")
else :
    print("string")

number

In [6]:
a = int(input("first number;"))
b = int(input("second number"))

if b>a:
    print("b is greaterthan a")
elif a>b:
    print("a is greaterthan b")
else:
    print("a and b are equal")

first number;22
second number55
b is greaterthan a

In [9]:
#write a python program to check a number taken from the user , is positive or negative.
a = int(input("first number;"))

if(a>0):
    print("numer is positive")
else:
    print("number is negstive")

first number;25
numer is positive

In [11]:
#write a program to accept the mark from the user and print the grade.
#marks      grade
#>90        A
#90-80      B
#80-70      C
#70-60      D
#<60        Fsiled
a = int(input("enter your mark :"))

if (a>90):
    print("grade A")
elif(a<=90 and a>80):
    print("grade B")
elif(a<=80 and a>70):
    print("grade C")
elif(a<=70 and a>60):
    print("grade D")
else:
    print("your failed")

enter your mark :5
your failed

In [12]:
a = 6
b = 25
print("A")if a > b else print("B")

B

In [13]:
A = 66
B = 55
if A > B :print("A is greater than B")

A is greater than B

In [14]:
x = 45

if x >10:
    print("above 10")
    if x >50:
        print("above 50")
    else:
        print("but not above 20")
else:
    print("finished")

above 10
but not above 20

In [15]:
a = 22
b = 45

print("stage 1")
if b>a:
    pass

print("stage2")
print(b+2)

print("stage 3")

stage 1
stage2
47
stage 3

In [4]:
i = 1
n =  5
while i <= n  :
    print(i)
    i = i + 1
    
    
print("finished")

1
2
3
4
5
finished

In [5]:
i = 1
n = 100
total = 0
while i<=n:
    total = total +i
    i = i+1
print("total:",total)

total: 5050

In [10]:
num = int(input("enter your number :"))
rev = 0

while num !=0:
    rem = num%10
    rev = rev*10+rem
    num = num // 10
    
print("the reversed number is :",rev)

enter your number :786
the reversed number is : 687

In [8]:
i= 1
n= 10
while n>=i:
    print(n)
    n = n-1
print("start")

10
9
8
7
6
5
4
3
2
1
start

In [9]:
my_list = [1,2,5,4,8,9]
i = 0

while i<len(my_list):
    print(my_list[i])
    i = i+1

1
2
5
4
8
9

In [11]:
my_list = [5,9,3,4,6]

i = 0
list2 = []

while i<len(my_list):
    x=my_list[i]*my_list[i]
    list2.append(x)
    i = i+1
print(list2)

[25, 81, 9, 16, 36]

In [12]:
total = 0
number = int(input("enter a number"))

while number !=0:
    total += number
    number = int(input("enter a number"))

print('total=',total)

enter a number6
enter a number85
enter a number57
enter a number6
enter a number8
enter a number0
total= 162

In [13]:
i = 5
n = 50
while i <=n:
    print(i)
    i = i+5

5
10
15
20
25
30
35
40
45
50

In [12]:
mylist = []
size = int(input("enter a size"))
i = 0

while  i <=size:
    print("enter a elements",i)
    item = int(input())
    mylist.append(item)
    i = i+1
    
print('user list is:',mylist)
print("the numbers that are multiples of 5")
l = 0

while l<len(mylist):
    if mylist[l]%5==0:
        print(mylist[l])
    l=l+1

enter a size3
enter a elements 0
15
enter a elements 1
36
enter a elements 2
45
enter a elements 3
10
user list is: [15, 36, 45, 10]
the numbers that are multiples of 5
15
45
10

In [3]:
values = input("Enter the element:")
u_list = values.split(",")
mylist = [int(num) for num in u_list]

for num in mylist:
    if num % 5 == 0:
        print(num)

print("Finished")

Enter the element:55
55
Finished

In [1]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [2]:
fruits = ['apple','banana','cherry']
for x in fruits:
    if x == 'banana':
        break
    print(x)

apple

In [4]:
fruits = ['apple','banana','cherry']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
cherry

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [7]:
for x in range(2,20,2):
    print(x)

2
4
6
8
10
12
14
16
18

In [23]:
my_list = []
for x in range(1,101,2):
    result = (x*x)
    my_list.append (result) 
print(my_list)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [24]:
for x in range(1,10):
    x = [::-1]
    print(x)

SyntaxError: invalid syntax (546833911.py, line 2)

In [25]:
colors = ['red','big','tasty']
fruits = ['apple','banana','cherry']
for x in colors:
    for y in fruits:
        print(x,y)
    print('------------')

red apple
red banana
red cherry
------------
big apple
big banana
big cherry
------------
tasty apple
tasty banana
tasty cherry
------------

In [26]:
num = [3.5,56,85,65,63,25,2,5,99]
sum_=0
for x in num:
    sqr = x**2
    sum_=sum_+sqr
    print('the sum of squares is : ',sum_)

the sum of squares is :  12.25
the sum of squares is :  3148.25
the sum of squares is :  10373.25
the sum of squares is :  14598.25
the sum of squares is :  18567.25
the sum of squares is :  19192.25
the sum of squares is :  19196.25
the sum of squares is :  19221.25
the sum of squares is :  29022.25

In [1]:
for num in range(10,30):
    for i in range(2,num):
        if num%i ==0:
            break
    else:
        print(num,'is a prime number')

11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number

In [2]:
n =7
for i in range(1, 21):
    product = n * i
    print('%d x %d = %d'%(n,i,product))

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

In [6]:
row = 7
for i in range (1,row + 1):
    for m in range(1,i+1):
        print(m,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [7]:
n = 7
k = 7
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=" ")
    print()

7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [8]:
n = 7
k = 7
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(i,end=" ")
    print()

0 0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2
3 3 3 3
4 4 4
5 5
6

In [10]:
rows = 7
for i in range (0,rows):
    for j in range (0,i+1):
        print("*",end=" ")
    print()
    
for i in range(rows,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
fruits = ['apple','banana','cherry','kiwi','mango']
newlist = []
for x in fruits:
    if 'a'in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [3]:
fruits = ['apple','banana','cherry','kiwi','mango']
newlist = [x for x in fruits if 'e' in x]
print(newlist)

['apple', 'cherry']

In [34]:
fruits = ['apple','banana','cherry','kiwi','mango']
newlist3 = [x for x in fruits]
print(newlist3)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [36]:
fruits = ['apple','banana','cherry','kiwi','mango']
newlist = [x.upper()for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
newlist = [x*x for x in range(10)]
print(n)

In [1]:
for index, value in enumerate(['the','big','bang','theory']):
    print(index,value)

0 the
1 big
2 bang
3 theory

In [2]:
grocery = ['bread','milk','butter']
enumerategrocery = enumerate(grocery)
print(enumerategrocery)
print(type(enumerategrocery))
print(list(enumerategrocery))
enumerategrocery = enumerate(grocery,10)
print(type(enumerategrocery))

<enumerate object at 0x0000021DD3F834C0>
<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
<class 'enumerate'>

newlist1 =

In [9]:
#zip
question = ['name','colour','shape']
answer = ['apple','red','a circle']
for question, answer in zip(question, answer):
    print("what is your {0}? I am {1}".format(question, answer))

what is your name? I am apple
what is your colour? I am red
what is your shape? I am a circle

In [11]:
list1 = [1,5,8,3,5,8,9,4,1,3,9,3,1,7]
print("the list in sorted order is : ")
for i in sorted(list1):
    print(i,end=" ")
print()

print("the listin sorted order (with out duplicates) is :")

for i in sorted(set(list1)):
    print(i, end=" ")

the list in sorted order is :
1 1 1 3 3 3 4 5 5 7 8 8 9 9
the listin sorted order (with out duplicates) is :
1 3 4 5 7 8 9

In [12]:
list1 = [1,5,8,3,5,8,9,4,1,3,9,3,1,7]
print("the list in reversed orderb is : ")
for i in reversed(list1):
    print(i,end=" ")

the list in reversed orderb is :
7 1 3 9 3 1 4 9 8 5 3 8 5 1

In [14]:
vowels = ['a','e','i','o','u']
vowels_iter = iter(vowels)
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))
print(next(vowels_iter))

a
e
i
o
u

In [15]:
vowels_iter = iter(vowels)
for i in vowels_iter:
    print(i)

a
e
i
o
u

In [18]:
mydict = {
    "brand" : "ford",
    "model" : "mustang",
    "year"  : 1964
}
x = mydict["model"]
print(x)
y = mydict.get("brand")
print(y)

mustang
ford

In [19]:
x = mydict.keys()
print(x)
y = mydict.values()
print(y)
z = mydict.items()
print(z)

dict_keys(['brand', 'model', 'year'])
dict_values(['ford', 'mustang', 1964])
dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1964)])

In [20]:
x  = {
    "brand" : "ford",
    "model" : "mustang",
    "year"  : 1964
}

x ["year"] = 2018
print(x)

{'brand': 'ford', 'model': 'mustang', 'year': 2018}

In [24]:
x = {
    "brand" : "ford",
    "model" : "mustang",
    "year"  : 1964
}
x.update({"year":2020})

print(x)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [25]:
x["colour"] = "red"
print(x)

{'brand': 'ford', 'model': 'mustang', 'year': 2020, 'colour': 'red'}

In [26]:
x.pop("model")
print(x)

{'brand': 'ford', 'year': 2020, 'colour': 'red'}

In [27]:
x.popitem()
print(x)

{'brand': 'ford', 'year': 2020}

In [28]:
x = {
    "brand" : "ford",
    "model" : "mustang",
    "year"  : 1964
}
for i in x:
    print(i)

brand
model
year

In [29]:
for i in x:
    print(x[i])

ford
mustang
1964

In [30]:
y = {
    "brand" : "ford",
    "model" : "mustang",
    "year"  : 1964
}
for x in y.keys():
    print(x)

brand
model
year

In [31]:
for x in y.values():
    print(x)

ford
mustang
1964

In [1]:
def greet():
    print("heloo")
    
greet()

heloo

In [3]:
def name_fn(name):
    print("hello",name)
    
name_fn("jaseem")
name_fn(7)

hello jaseem
hello 7

In [4]:
def name(nm):
    print("hello",nm)
    
name(input("enter name :"))

enter name :jaseem
hello jaseem

In [15]:
def name(nm):
    print("hello",nm)
x    
name(input("enter name :"))

enter name :basith
hello basith

In [5]:
def add_numbers ():
    num1 = 5
    num2 = 6
    sum_ = num1 + num2
    print('sum :',sum_)

add_numbers()

sum : 11

In [7]:
x =int(input("enter number"))
y =int(input("enter number"))
add_numbers(x,y)

enter number56
enter number62
sum:  118

In [11]:
def add_numbers(a =6 , b =7):
    sum_ = a+b
    print("sum: ",sum_)
add_numbers()
add_numbers(89,45)
add_numbers(b = 57)

sum:  13
sum:  134
sum:  63

In [13]:
def add_numbers(a =6 , b =7):
    sum_ = a+b
    print("sum: ",sum_)
add_numbers()
add_numbers(89,45)
add_numbers(b = 57)

sum =  100
sum =  1855

In [14]:
def find_square(num):
    result = num*num
    return result

square = find_square(36)
print("square ",square)

square  1296

In [15]:
def calculation(num1,num2):
    sqr = num1 * num2
    add = num1 + num2
    sub = num1 - num2
    return sqr,add,sub
x,y,z = calculation(36,56)
print("result: ",x,y,z)

result:  2016 92 -20

In [16]:
def factorial(x):
    if x == 1:
        return 1 
    else:
        return(x* factorial(x-1))

num = 5
print("the factorial of",num,"is",factorial(num))

the factorial of 5 is 120

In [17]:
def factorial(x):
    if x == 1:
        return 1 
    else:
        return(x* factorial(x-1))
num = int(input("enter number : "))
print("the factorial of",num,"is",factorial(num))

enter number : 5
the factorial of 5 is 120

In [23]:
#define a function that checks if a number is evem or odd.
def number_(num):
    if num%2== 0:
        print("enven")
    else:
        print("odd")
        
number_ (int(input('enter number ')))

enter number 6
enven

In [25]:
def number_(num):
    if num> 0:
        print("positive")
    else:
        print("negative")
        
number_ (int(input('enter number ')))

enter number 5
positive

In [1]:
greet = lambda : print("hello world")
greet()

hello world

In [2]:
greet_user = lambda name : print("hey there, ",name)
greet_user("jaseem")

hey there,  jaseem

In [14]:
import example

x = example.add(7,6)
print(x)

13

In [6]:
import math
print (math.pi)

3.141592653589793

In [7]:
import math as m
print(m.pi)

3.141592653589793

In [9]:
from math import pi,log
print(pi)
print(log(10))

3.141592653589793
2.302585092994046

In [10]:
from math import *
print(pi)

3.141592653589793

In [16]:
user = lambda x,y: print("product: ",x*y)

user(6,8)

product:  48

In [1]:
def divide(number,divisor):
    print("starting calculation ")
    result = number/divisor
    print(number,"/" ,divisor,"=",result)
    print("calculation over!..")
divide(3,0)

starting calculation

ZeroDivisionError: division by zero

In [8]:
def divide(number,divisor):
    print("starting calculation ")
    try:
        result = number/divisor
        print(number,"/" ,divisor,"=",result)
    except (ZeroDivisionError,TypeError):
        print("cannot be divide")
    print("calculation over!..")
divide(3,2)
divide(3,0)
divide(5,"ab")

starting calculation
3 / 2 = 1.5
calculation over!..
starting calculation
cannot be divide
calculation over!..
starting calculation
cannot be divide
calculation over!..

In [9]:
def divide(number,divisor):
    print("starting calculation ")
    try:
        result = number/divisor
        print(number,"/" ,divisor,"=",result)
    except TypeError:
        print("cannot be divide")
    print("calculation over!..")
divide(5,"ab")

starting calculation
cannot be divide
calculation over!..

In [ ]:
def divide(number,divisor):
     print(number,"/" ,divisor,"=",result)
        try:
            result = float(number)/float(divisor)
            (number,"/" ,divisor,"=",result)

In [11]:
def gethead(items):
    return items[0]
print(gethead([]))

IndexError: list index out of range

In [12]:
def gethead(items):
    try:
        return items[0]
    except IndexError:
        return 'list too short'
print(gethead([]))

list too short

In [14]:
print(y)

NameError: name 'y' is not defined

In [13]:
try:
    print(y)
except:
    print('y is not defined')
else:
    print("nothing")

y is not defined

In [18]:
try:
    print(x)
except:
    print('somethingnwent wrong')
finally:
    print("The try except is finished")

somethingnwent wrong
The try except is finished

In [21]:
x = -2
if x <0:
    raise exception("sorry, no numbers bellow")

NameError: name 'exception' is not defined

In [19]:
x = "hello"

if not type(x) is int:
    raise TypeError("only integers are allowed")

TypeError: only integers are allowed

In [4]:
x = 8

if not type(x) is int:
    raise TypeError("only integers are allowed")

In [5]:
while True:
    try:
        value = int(input("input an integer"))
        print("entered",value)
        break
    except:
        print("that is not an integers, try again")

input an integer33
entered 33